<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">FreeCodeSchool</title>
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet"
	href="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Firebase App is always required and must be first -->
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-app.js"></script>
<!-- Add additional services that you want to use -->
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-auth.js"></script>
<script
	src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>
</head>
<body>
		<div layout:fragment="content">
</div>
</body>
</html>